In [98]:
import pandas as pd
import numpy as np
movies_df=pd.read_csv('movies.csv')
movies_df.drop('title',1,inplace=True)
movies_df['genres']=movies_df.genres.str.split('|')
genres_df=movies_df.copy()
for index,row in movies_df.iterrows():
    for genre in row['genres']:
        genres_df.at[index,genre]=1
genres_df.drop('genres',1,inplace=True)
genres_df.fillna(0,inplace=True)
genres_df.to_csv('genres.csv',index=False)
genres_df=pd.read_csv('genres.csv')

In [99]:
userInput=[
    {'movieId':34,'rating':5.0},
    {'movieId':24,'rating':4.0},
    {'movieId':14,'rating':3.0},
    {'movieId':4,'rating':2.0},
    {'movieId':44,'rating':1.0}
]
userInput=pd.DataFrame(userInput)
userInput

   movieId  rating
0       34     5.0
1       24     4.0
2       14     3.0
3        4     2.0
4       44     1.0

In [100]:
userGenre=genres_df[genres_df['movieId'].isin(userInput['movieId'].tolist())]
userGenre.drop('movieId',1,inplace=True)
userGenre.reset_index(drop=True)
userProfile = userGenre.transpose().dot(userInput.rating.values)
genreTable=genres_df.copy()
genreTable.set_index('movieId',inplace=True)

recommend_df=((genreTable*userProfile).sum(axis=1))/(userProfile.sum())
recommend_df=((genreTable*userProfile).sum(axis=1))/(userProfile.sum())
recommend_df.head(5)

movieId
1    0.28125
2    0.12500
3    0.31250
4    0.75000
5    0.15625
dtype: float64

## MongoDB

In [101]:
import pymongo
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["flick"]
mycol = mydb["reviews"]

### User input

In [102]:
records=[{ "uid": 1, "movieId": 34,"rating":5.0 },
    {"uid": 1,'movieId':24,'rating':4.0},
    {"uid": 1,'movieId':14,'rating':3.0},
    {"uid": 1,'movieId':4,'rating':2.0},
    {"uid": 1,'movieId':44,'rating':1.0}]
x = mycol.insert_many(records)

In [103]:
x.inserted_ids

[ObjectId('5f3302336cf4ae7a2aff50c6'),
 ObjectId('5f3302336cf4ae7a2aff50c7'),
 ObjectId('5f3302336cf4ae7a2aff50c8'),
 ObjectId('5f3302336cf4ae7a2aff50c9'),
 ObjectId('5f3302336cf4ae7a2aff50ca')]

In [104]:
userInput=[]
for x in mycol.find({"uid":1},{ "_id": 0}):
  userInput.append(x)
userInput=pd.DataFrame(userInput)
userInput

   movieId  rating  uid
0       34     5.0    1
1       24     4.0    1
2       14     3.0    1
3        4     2.0    1
4       44     1.0    1

### Genre_data

In [105]:
genre_json=genres_df.to_json(orient='records')
genre_json=eval(genre_json)
genre_data=genre_json
genre_data[0]

{'movieId': 1,
 'Adventure': 1.0,
 'Animation': 1.0,
 'Children': 1.0,
 'Comedy': 1.0,
 'Fantasy': 1.0,
 'Romance': 0.0,
 'Drama': 0.0,
 'Action': 0.0,
 'Crime': 0.0,
 'Thriller': 0.0,
 'Horror': 0.0,
 'Mystery': 0.0,
 'Sci-Fi': 0.0,
 'IMAX': 0.0,
 'Documentary': 0.0,
 'War': 0.0,
 'Musical': 0.0,
 'Western': 0.0,
 'Film-Noir': 0.0,
 '(no genres listed)': 0.0}

In [106]:
genre_json=genres_df.to_json(orient='records')
genre_json=eval(genre_json)
genre_data=genre_json
genre_data[0]

mycol = mydb["genre_data"]
x = mycol.insert_many(genre_data)

In [107]:
mycol = mydb["genre_data"]
data=[]
for x in mycol.find({},{"_id":0}):
    data.append(x)
genres_df=pd.DataFrame(data)
genres_df.head()

,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,...,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,movieId
0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,3
3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,4
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5

### User Genre_data

In [108]:
userGenre_json=userGenre.to_json(orient ='records')
userGenre_json=(eval(userGenre_json))
userGenre_data={"uid":1,"genre_data":userGenre_json}

In [109]:
mycol = mydb["user_genre_data"]
x = mycol.insert_one(userGenre_data)

In [110]:
mycol = mydb["user_genre_data"]
data=[]
x=mycol.find_one({"uid":1})
data=x['genre_data']
userGenre=pd.DataFrame(data)
userGenre.head()

,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### User Profile data

In [111]:
userProfile_json=eval(userProfile.to_json())
#print(type(userProfile_json))
userProfile_data={"uid":1,"profile_data":userProfile_json}
userProfile_data

{'uid': 1,
 'profile_data': {'Adventure': 1.0,
  'Animation': 0.0,
  'Children': 2.0,
  'Comedy': 5.0,
  'Fantasy': 1.0,
  'Romance': 5.0,
  'Drama': 14.0,
  'Action': 1.0,
  'Crime': 0.0,
  'Thriller': 0.0,
  'Horror': 0.0,
  'Mystery': 0.0,
  'Sci-Fi': 3.0,
  'IMAX': 0.0,
  'Documentary': 0.0,
  'War': 0.0,
  'Musical': 0.0,
  'Western': 0.0,
  'Film-Noir': 0.0,
  '(no genres listed)': 0.0}}

In [112]:
mycol = mydb["user_profile_data"]
x = mycol.insert_one(userProfile_data)

In [113]:
data=[]
x=mycol.find_one({},{"_id":0})
data=x['profile_data']
userProfile=pd.Series(data)
userProfile

Adventure              1.0
Animation              0.0
Children               2.0
Comedy                 5.0
Fantasy                1.0
Romance                5.0
Drama                 14.0
Action                 1.0
Crime                  0.0
Thriller               0.0
Horror                 0.0
Mystery                0.0
Sci-Fi                 3.0
IMAX                   0.0
Documentary            0.0
War                    0.0
Musical                0.0
Western                0.0
Film-Noir              0.0
(no genres listed)     0.0
dtype: float64

### User recommendations

In [114]:
recommendation_json=eval(recommend_df.to_json())
#type(recommendation_json)
recommendation_data={"uid":1,"recommendation_data":recommendation_json}
recommendation_data

{'uid': 1,
 'recommendation_data': {'1': 0.28125,
  '2': 0.125,
  '3': 0.3125,
  '4': 0.75,
  '5': 0.15625,
  '6': 0.03125,
  '7': 0.3125,
  '8': 0.09375,
  '9': 0.03125,
  '10': 0.0625,
  '11': 0.75,
  '12': 0.15625,
  '13': 0.09375,
  '14': 0.4375,
  '15': 0.21875,
  '16': 0.4375,
  '17': 0.59375,
  '18': 0.15625,
  '19': 0.15625,
  '20': 0.625,
  '21': 0.15625,
  '22': 0.4375,
  '23': 0.03125,
  '24': 0.53125,
  '25': 0.59375,
  '26': 0.4375,
  '27': 0.5,
  '28': 0.59375,
  '29': 0.59375,
  '30': 0.4375,
  '31': 0.4375,
  '32': 0.09375,
  '33': 0.1875,
  '34': 0.5,
  '35': 0.59375,
  '36': 0.4375,
  '37': 0.0,
  '38': 0.21875,
  '39': 0.3125,
  '40': 0.4375,
  '41': 0.4375,
  '42': 0.46875,
  '43': 0.4375,
  '44': 0.09375,
  '45': 0.59375,
  '46': 0.59375,
  '47': 0.0,
  '48': 0.65625,
  '49': 0.59375,
  '50': 0.0,
  '51': 0.46875,
  '52': 0.75,
  '53': 0.46875,
  '54': 0.21875,
  '55': 0.4375,
  '56': 0.28125,
  '57': 0.4375,
  '58': 0.75,
  '59': 0.4375,
  '60': 0.125,
  '61': 0.4375,
  '62': 0.4375,
  '63': 0.15625,
  '64': 0.3125,
  '65': 0.15625,
  '66': 0.125,
  '67': 0.4375,
  '68': 0.3125,
  '69': 0.15625,
  '70': 0.1875,
  '71': 0.03125,
  '72': 0.59375,
  '73': 0.4375,
  '74': 0.59375,
  '75': 0.59375,
  '76': 0.125,
  '77': 0.0,
  '78': 0.46875,
  '79': 0.4375,
  '80': 0.5,
  '81': 0.59375,
  '82': 0.59375,
  '83': 0.59375,
  '84': 0.59375,
  '85': 0.59375,
  '86': 0.5,
  '87': 0.21875,
  '88': 0.15625,
  '89': 0.03125,
  '90': 0.4375,
  '92': 0.4375,
  '93': 0.3125,
  '94': 0.75,
  '95': 0.0625,
  '96': 0.59375,
  '97': 0.4375,
  '98': 0.03125,
  '99': 0.0,
  '100': 0.4375,
  '101': 0.34375,
  '102': 0.15625,
  '103': 0.09375,
  '104': 0.15625,
  '105': 0.59375,
  '106': 0.59375,
  '107': 0.25,
  '108': 0.0,
  '109': 0.59375,
  '110': 0.46875,
  '111': 0.4375,
  '112': 0.21875,
  '113': 0.4375,
  '114': 0.4375,
  '115': 0.15625,
  '116': 0.0,
  '117': 0.4375,
  '118': 0.3125,
  '119': 0.15625,
  '120': 0.625,
  '121': 0.4375,
  '122': 0.3125,
  '123': 0.59375,
  '124': 0.4375,
  '125': 0.15625,
  '126': 0.125,
  '127': 0.4375,
  '128': 0.0,
  '129': 0.3125,
  '130': 0.4375,
  '131': 0.59375,
  '132': 0.0,
  '133': 0.59375,
  '134': 0.0,
  '135': 0.15625,
  '136': 0.0,
  '137': 0.0,
  '138': 0.4375,
  '139': 0.46875,
  '140': 0.59375,
  '141': 0.15625,
  '142': 0.4375,
  '143': 0.4375,
  '144': 0.15625,
  '145': 0.625,
  '146': 0.09375,
  '147': 0.4375,
  '148': 0.4375,
  '149': 0.4375,
  '150': 0.46875,
  '151': 0.625,
  '152': 0.4375,
  '153': 0.21875,
  '154': 0.4375,
  '155': 0.46875,
  '156': 0.59375,
  '157': 0.15625,
  '158': 0.09375,
  '159': 0.4375,
  '160': 0.15625,
  '161': 0.4375,
  '162': 0.0,
  '163': 0.1875,
  '164': 0.0,
  '165': 0.03125,
  '166': 0.59375,
  '167': 0.4375,
  '168': 0.625,
  '169': 0.53125,
  '170': 0.0625,
  '171': 0.59375,
  '172': 0.125,
  '173': 0.125,
  '174': 0.15625,
  '175': 0.4375,
  '176': 0.15625,
  '177': 0.0,
  '178': 0.59375,
  '179': 0.59375,
  '180': 0.3125,
  '181': 0.09375,
  '182': 0.59375,
  '183': 0.15625,
  '184': 0.4375,
  '185': 0.03125,
  '186': 0.3125,
  '187': 0.15625,
  '188': 0.03125,
  '189': 0.1875,
  '190': 0.0,
  '191': 0.59375,
  '192': 0.0,
  '193': 0.4375,
  '194': 0.59375,
  '195': 0.75,
  '196': 0.09375,
  '197': 0.4375,
  '198': 0.5625,
  '199': 0.59375,
  '200': 0.0,
  '201': 0.46875,
  '202': 0.59375,
  '203': 0.15625,
  '204': 0.03125,
  '205': 0.59375,
  '206': 0.0,
  '207': 0.59375,
  '208': 0.15625,
  '209': 0.4375,
  '210': 0.0,
  '211': 0.4375,
  '212': 0.1875,
  '213': 0.4375,
  '214': 0.4375,
  '215': 0.59375,
  '216': 0.15625,
  '217': 0.4375,
  '218': 0.59375,
  '219': 0.4375,
  '220': 0.0,
  '222': 0.59375,
  '223': 0.15625,
  '224': 0.75,
  '225': 0.4375,
  '226': 0.0,
  '227': 0.03125,
  '228': 0.15625,
  '229': 0.4375,
  '230': 0.4375,
  '231': 0.1875,
  '232': 0.75,
  '233': 0.4375,
  '234': 0.15625,
  '235': 0.59375,
  '236': 0.34375,
  '237': 0.3125,
  '238': 0.09375,
  '239': 0.375,
  '240': 0.0,
  '241': 0.5,
  '242': 0.4375,
  '243': 0.25,
  '244': 0.0625,
  '245': 0.4375,
  '246': 0.0,
  '247': 0.4375,
  '248': 0.15625,
  '249': 0.59375,
  '250': 0.21875,
  '251': 0.03125,
  '252': 0.3125,
  '253': 0.4375,
  '254': 0.4375,
  '255': 0.15625,
  '256': 0.25,
  '257': 0.0,
  '258': 0.4375,
  '259': 0.4375,
  '260': 0.15625,
  '261': 0.4375,
  '262': 0.5,
  '263': 0.4375,
  '264': 0.4375,
  '265': 0.625,
  '266': 0.59375,
  '267': 0.15625,
  '268': 0.4375,
  '269': 0.4375,
  '270': 0.59375,
  '271': 0.4375,
  '272': 0.59375,
  '273': 0.53125,
  '274': 0.15625,
  '275': 0.15625,
  '276': 0.3125,
  '277': 0.4375,
  '278': 0.15625,
  '279': 0.4375,
  '280': 0.4375,
  '281': 0.75,
  '282': 0.4375,
  '283': 0.4375,
  '284': 0.03125,
  '285': 0.4375,
  '286': 0.125,
  '287': 0.3125,
  '288': 0.03125,
  '289': 0.3125,
  '290': 0.4375,
  '291': 0.4375,
  '292': 0.5625,
  '293': 0.46875,
  '294': 0.3125,
  '295': 0.3125,
  '296': 0.59375,
  '297': 0.4375,
  '298': 0.4375,
  '299': 0.4375,
  '300': 0.4375,
  '301': 0.59375,
  '302': 0.59375,
  '303': 0.03125,
  '304': 0.59375,
  '305': 0.15625,
  '306': 0.4375,
  '307': 0.4375,
  '308': 0.59375,
  '309': 0.4375,
  '310': 0.15625,
  '311': 0.0,
  '312': 0.15625,
  '313': 0.0625,
  '314': 0.53125,
  '315': 0.46875,
  '316': 0.15625,
  '317': 0.625,
  '318': 0.4375,
  '319': 0.59375,
  '320': 0.0,
  '321': 0.4375,
  '322': 0.59375,
  '324': 0.59375,
  '325': 0.15625,
  '326': 0.4375,
  '327': 0.28125,
  '328': 0.0,
  '329': 0.5625,
  '330': 0.03125,
  '331': 0.4375,
  '332': 0.09375,
  '333': 0.15625,
  '334': 0.4375,
  '335': 0.0,
  '336': 0.4375,
  '337': 0.4375,
  '338': 0.125,
  '339': 0.3125,
  '340': 0.46875,
  '341': 0.4375,
  '342': 0.15625,
  '343': 0.0625,
  '344': 0.15625,
  '345': 0.59375,
  '346': 0.4375,
  '347': 0.59375,
  '348': 0.15625,
  '349': 0.46875,
  '350': 0.4375,
  '351': 0.75,
  '352': 0.59375,
  '353': 0.0625,
  '354': 0.4375,
  '355': 0.25,
  '356': 0.75,
  '357': 0.3125,
  '358': 0.4375,
  '359': 0.75,
  '360': 0.1875,
  '361': 0.75,
  '362': 0.25,
  '363': 0.0,
  '364': 0.53125,
  '365': 0.4375,
  '366': 0.4375,
  '367': 0.21875,
  '368': 0.1875,
  '369': 0.4375,
  '370': 0.1875,
  '371': 0.59375,
  '372': 0.75,
  '373': 0.0,
  '374': 0.21875,
  '375': 0.4375,
  '376': 0.03125,
  '377': 0.1875,
  '378': 0.3125,
  '379': 0.125,
  '380': 0.375,
  '381': 0.59375,
  '382': 0.59375,
  '383': 0.0,
  '384': 0.46875,
  '385': 0.4375,
  '386': 0.4375,
  '387': 0.1875,
  '388': 0.4375,
  '389': 0.59375,
  '390': 0.46875,
  '391': 0.4375,
  '392': 0.03125,
  '393': 0.09375,
  '394': 0.15625,
  '395': 0.625,
  '396': 0.4375,
  '397': 0.0,
  '398': 0.0,
  '399': 0.4375,
  '400': 0.4375,
  '401': 0.03125,
  '402': 0.15625,
  '403': 0.59375,
  '404': 0.0,
  '405': 0.0625,
  '406': 0.4375,
  '407': 0.0,
  '408': 0.4375,
  '409': 0.4375,
  '410': 0.25,
  '411': 0.15625,
  '412': 0.4375,
  '413': 0.15625,
  '414': 0.15625,
  '415': 0.15625,
  '416': 0.0,
  '417': 0.3125,
  '418': 0.4375,
  '419': 0.15625,
  '420': 0.1875,
  '421': 0.53125,
  '422': 0.0,
  '423': 0.03125,
  '424': 0.4375,
  '425': 0.59375,
  '426': 0.09375,
  '427': 0.59375,
  '428': 0.4375,
  '429': 0.15625,
  '430': 0.59375,
  '431': 0.4375,
  '432': 0.1875,
  '433': 0.15625,
  '434': 0.0625,
  '435': 0.25,
  '436': 0.4375,
  '437': 0.15625,
  '438': 0.625,
  '439': 0.4375,
  '440': 0.3125,
  '441': 0.15625,
  '442': 0.15625,
  '443': 0.03125,
  '444': 0.3125,
  '445': 0.15625,
  '446': 0.59375,
  '447': 0.3125,
  '448': 0.4375,
  '449': 0.15625,
  '450': 0.59375,
  '451': 0.59375,
  '452': 0.4375,
  '453': 0.3125,
  '454': 0.4375,
  '455': 0.53125,
  '456': 0.4375,
  '457': 0.0,
  '458': 0.4375,
  '459': 0.65625,
  '460': 0.15625,
  '461': 0.59375,
  '462': 0.0625,
  '463': 0.4375,
  '464': 0.0625,
  '465': 0.46875,
  '466': 0.1875,
  '467': 0.15625,
  '468': 0.3125,
  '469': 0.59375,
  '470': 0.15625,
  '471': 0.15625,
  '472': 0.59375,
  '473': 0.15625,
  '474': 0.03125,
  '475': 0.4375,
  '476': 0.59375,
  '477': 0.4375,
  '478': 0.59375,
  '479': 0.03125,
  '480': 0.15625,
  '481': 0.4375,
  '482': 0.4375,
  '483': 0.4375,
  '484': 0.09375,
  '485': 0.25,
  '486': 0.15625,
  '487': 0.15625,
  '488': 0.59375,
  '489': 0.15625,
  '490': 0.0,
  '491': 0.4375,
  '492': 0.15625,
  '493': 0.46875,
  '494': 0.0625,
  '495': 0.4375,
  '496': 0.75,
  '497': 0.3125,
  '498': 0.59375,
  '499': 0.3125,
  '500': 0.59375,
  '501': 0.4375,
  '502': 0.25,
  '503': 0.4375,
  '504': 0.5625,
  '505': 0.15625,
  '506': 0.625,
  '507': 0.4375,
  '508': 0.4375,
  '509': 0.59375,
  '510': 0.4375,
  '511': 0.46875,
  '512': 0.09375,
  '513': 0.3125,
  '514': 0.15625,
  '515': 0.59375,
  '516': 0.59375,
  '517': 0.46875,
  '518': 0.15625,
  '519': 0.5625,
  '520': 0.15625,
  '521': 0.0,
  '522': 0.46875,
  '523': 0.4375,
  '524': 0.4375,
  '525': 0.4375,
  '526': 0.4375,
  '527': 0.4375,
  '528': 0.59375,
  '529': 0.4375,
  '530': 0.4375,
  '531': 0.5,
  '532': 0.15625,
  '533': 0.09375,
  '534': 0.59375,
  '535': 0.4375,
  '536': 0.4375,
  '537': 0.4375,
  '538': 0.4375,
  '539': 0.75,
  '540': 0.0,
  '541': 0.125,
  '542': 0.75,
  '543': 0.3125,
  '544': 0.03125,
  '545': 0.4375,
  '546': 0.40625,
  '547': 0.0625,
  '548': 0.03125,
  '549': 0.4375,
  '550': 0.3125,
  '551': 0.09375,
  '552': 0.375,
  '553': 0.46875,
  '554': 0.4375,
  '555': 0.0,
  '556': 0.0,
  '558': 0.15625,
  '559': 0.15625,
  '560': 0.4375,
  '561': 0.4375,
  '562': 0.59375,
  '563': 0.59375,
  '564': 0.15625,
  '565': 0.4375,
  '566': 0.3125,
  '567': 0.59375,
  '568': 0.59375,
  '569': 0.59375,
  '570': 0.59375,
  '571': 0.59375,
  '572': 0.4375,
  '573': 0.4375,
  '574': 0.59375,
  '575': 0.21875,
  '576': 0.15625,
  '577': 0.53125,
  '579': 0.0,
  '580': 0.4375,
  '581': 0.0,
  '582': 0.59375,
  '583': 0.59375,
  '584': 0.59375,
  '585': 0.15625,
  '586': 0.21875,
  '587': 0.78125,
  '588': 0.25,
  '589': 0.125,
  '590': 0.46875,
  '591': 0.46875,
  '592': 0.03125,
  '593': 0.0,
  '594': 0.53125,
  '595': 0.25,
  '596': 0.09375,
  '597': 0.3125,
  '598': 0.1875,
  '599': 0.03125,
  '600': 0.1875,
  '601': 0.4375,
  '602': 0.0,
  '603': 0.15625,
  '604': 0.0,
  '605': 0.59375,
  '606': 0.03125,
  '607': 0.4375,
  '608': 0.59375,
  '609': 0.09375,
  '610': 0.15625,
  '611': 0.125,
  '612': 0.15625,
  '613': 0.59375,
  '614': 0.4375,
  '615': 0.59375,
  '616': 0.0625,
  '617': 0.59375,
  '618': 0.3125,
  '619': 0.15625,
  '620': 0.4375,
  '621': 0.4375,
  '623': 0.15625,
  '624': 0.46875,
  '625': 0.4375,
  '626': 0.15625,
  '627': 0.4375,
  '628': 0.4375,
  '629': 0.4375,
  '630': 0.59375,
  '631': 0.28125,
  '632': 0.4375,
  '633': 0.15625,
  '634': 0.15625,
  '635': 0.59375,
  '636': 0.4375,
  '637': 0.15625,
  '638': 0.15625,
  '639': 0.59375,
  '640': 0.4375,
  '641': 0.25,
  '642': 0.4375,
  '643': 0.15625,
  '644': 0.15625,
  '645': 0.4375,
  '647': 0.46875,
  '648': 0.0625,
  '649': 0.59375,
  '650': 0.4375,
  '651': 0.15625,
  '652': 0.0,
  '653': 0.09375,
  '654': 0.59375,
  '655': 0.15625,
  '656': 0.15625,
  '657': 0.59375,
  '658': 0.4375,
  '659': 0.4375,
  '660': 0.4375,
  '661': 0.125,
  '662': 0.0,
  '663': 0.15625,
  '664': 0.15625,
  '665': 0.59375,
  '666': 0.59375,
  '667': 0.03125,
  '668': 0.4375,
  '670': 0.4375,
  '671': 0.25,
  '672': 0.4375,
  '673': 0.375,
  '674': 0.28125,
  '675': 0.46875,
  '676': 0.25,
  '678': 0.4375,
  '679': 0.4375,
  '680': 0.6875,
  '681': 0.0,
  '682': 0.4375,
  '683': 0.0,
  '684': 0.4375,
  '685': 0.4375,
  '687': 0.59375,
  '688': 0.21875,
  '690': 0.59375,
  '691': 0.3125,
  '692': 0.125,
  '693': 0.4375,
  '694': 0.46875,
  '695': 0.0,
  '696': 0.4375,
  '697': 0.59375,
  '698': 0.4375,
  '699': 0.4375,
  '700': 0.15625,
  '701': 0.4375,
  '702': 0.4375,
  '703': 0.4375,
  '704': 0.0625,
  '705': 0.15625,
  '706': 0.4375,
  '707': 0.4375,
  '708': 0.3125,
  '709': 0.25,
  '710': 0.15625,
  '711': 0.09375,
  '712': 0.59375,
  '713': 0.4375,
  '714': 0.4375,
  '715': 0.59375,
  '716': 0.0,
  '717': 0.15625,
  '718': 0.28125,
  '719': 0.15625,
  '720': 0.1875,
  '721': 0.4375,
  '722': 0.0,
  '723': 0.4375,
  '724': 0.46875,
  '725': 0.15625,
  '726': 0.4375,
  '727': 0.0,
  '728': 0.15625,
  '729': 0.4375,
  '730': 0.4375,
  '731': 0.0,
  '732': 0.0,
  '733': 0.0625,
  '734': 0.15625,
  '735': 0.0,
  '736': 0.21875,
  '737': 0.125,
  '738': 0.4375,
  '739': 0.15625,
  '741': 0.09375,
  '742': 0.0,
  '743': 0.15625,
  '744': 0.4375,
  '745': 0.21875,
  '746': 0.0,
  '747': 0.15625,
  '748': 0.125,
  '749': 0.4375,
  '750': 0.15625,
  '751': 0.15625,
  '752': 0.3125,
  '753': 0.75,
  '754': 0.09375,
  '755': 0.5,
  '756': 0.0,
  '757': 0.4375,
  '758': 0.4375,
  '759': 0.0,
  '760': 0.4375,
  '761': 0.0625,
  '762': 0.15625,
  '763': 0.59375,
  '764': 0.59375,
  '765': 0.59375,
  '766': 0.4375,
  '767': 0.59375,
  '768': 0.4375,
  '769': 0.0,
  '770': 0.4375,
  '771': 0.59375,
  '772': 0.15625,
  '773': 0.4375,
  '774': 0.4375,
  '775': 0.0,
  '776': 0.59375,
  '777': 0.0,
  '778': 0.59375,
  '779': 0.59375,
  '780': 0.15625,
  '781': 0.4375,
  '782': 0.4375,
  '783': 0.65625,
  '784': 0.15625,
  '785': 0.15625,
  '786': 0.46875,
  '787': 0.0,
  '788': 0.4375,
  '789': 0.4375,
  '790': 0.4375,
  '791': 0.0,
  '792': 0.03125,
  '793': 0.4375,
  '794': 0.59375,
  '795': 0.4375,
  '796': 0.4375,
  '797': 0.15625,
  '798': 0.5,
  '799': 0.15625,
  '800': 0.4375,
  '801': 0.21875,
  '802': 0.59375,
  '803': 0.75,
  '804': 0.3125,
  '805': 0.4375,
  '806': 0.4375,
  '807': 0.3125,
  '808': 0.09375,
  '809': 0.0625,
  '810': 0.25,
  '812': 0.4375,
  '813': 0.15625,
  '814': 0.4375,
  '815': 0.03125,
  '816': 0.4375,
  '818': 0.15625,
  '819': 0.59375,
  '820': 0.4375,
  '821': 0.59375,
  '822': 0.59375,
  '823': 0.4375,
  '824': 0.4375,
  '825': 0.3125,
  '826': 0.4375,
  '827': 0.4375,
  '828': 0.09375,
  '829': 0.1875,
  '830': 0.15625,
  '831': 0.4375,
  '832': 0.0,
  '833': 0.15625,
  '834': 0.15625,
  '835': 0.4375,
  '836': 0.0625,
  '837': 0.25,
  '838': 0.75,
  '839': 0.03125,
  '840': 0.21875,
  '841': 0.0,
  '842': 0.15625,
  '843': 0.4375,
  '844': 0.4375,
  '845': 0.4375,
  '846': 0.4375,
  '847': 0.59375,
  '848': 0.4375,
  '849': 0.15625,
  '850': 0.4375,
  '851': 0.4375,
  '852': 0.75,
  '853': 0.4375,
  '854': 0.4375,
  '855': 0.4375,
  '856': 0.15625,
  '857': 0.4375,
  '858': 0.4375,
  '859': 0.0,
  '860': 0.15625,
  '861': 0.1875,
  '862': 0.4375,
  '864': 0.59375,
  '865': 0.4375,
  '866': 0.59375,
  '867': 0.15625,
  '868': 0.15625,
  '869': 0.4375,
  '870': 0.15625,
  '871': 0.15625,
  '872': 0.4375,
  '873': 0.4375,
  '874': 0.4375,
  '875': 0.46875,
  '876': 0.1875,
  '877': 0.59375,
  '878': 0.4375,
  '879': 0.0,
  '880': 0.09375,
  '881': 0.21875,
  '882': 0.4375,
  '884': 0.4375,
  '885': 0.53125,
  '886': 0.1875,
  '887': 0.4375,
  '888': 0.09375,
  '889': 0.59375,
  '890': 0.0,
  '891': 0.0,
  '892': 0.75,
  '893': 0.4375,
  '894': 0.15625,
  '895': 0.4375,
  '896': 0.4375,
  '897': 0.625,
  '898': 0.75,
  '899': 0.3125,
  '900': 0.15625,
  '901': 0.15625,
  '902': 0.59375,
  '903': 0.59375,
  '904': 0.0,
  '905': 0.3125,
  '906': 0.4375,
  '907': 0.3125,
  '908': 0.21875,
  '909': 0.75,
  '910': 0.15625,
  '911': 0.3125,
  '912': 0.59375,
  '913': 0.0,
  '914': 0.75,
  '915': 0.3125,
  '916': 0.75,
  '917': 0.5,
  '918': 0.0,
  '919': 0.125,
  '920': 0.59375,
  '921': 0.15625,
  '922': 0.59375,
  '923': 0.4375,
  '924': 0.5625,
  '925': 0.1875,
  '926': 0.4375,
  '927': 0.15625,
  '928': 0.59375,
  '929': 0.4375,
  '930': 0.15625,
  '931': 0.15625,
  '932': 0.59375,
  '933': 0.15625,
  '934': 0.15625,
  '935': 0.15625,
  '936': 0.3125,
  '937': 0.3125,
  '938': 0.0,
  '939': 0.59375,
  '940': 0.21875,
  '941': 0.03125,
  '942': 0.0,
  '943': 0.625,
  '944': 0.4375,
  '945': 0.3125,
  '946': 0.59375,
  '947': 0.3125,
  '948': 0.59375,
  '949': 0.4375,
  '950': 0.15625,
  '951': 0.3125,
  '952': 0.1875,
  '953': 0.625,
  '954': 0.4375,
  '955': 0.3125,
  '956': 0.59375,
  '957': 0.4375,
  '958': 0.15625,
  '959': 0.4375,
  '960': 0.4375,
  '961': 0.4375,
  '962': 0.4375,
  '963': 0.0,
  '964': 0.15625,
  '965': 0.4375,
  '966': 0.0,
  '967': 0.0,
  '968': 0.09375,
  '969': 0.34375,
  '970': 0.78125,
  '971': 0.4375,
  '972': 0.4375,
  '973': 0.59375,
  '974': 0.59375,
  '975': 0.15625,
  '976': 0.15625,
  '977': 0.0,
  '979': 0.4375,
  '980': 0.03125,
  '981': 0.4375,
  '982': 0.4375,
  '983': 0.15625,
  '984': 0.59375,
  '985': 0.0,
  '986': 0.09375,
  '987': 0.59375,
  '988': 0.59375,
  '989': 0.4375,
  '990': 0.0625,
  '991': 0.4375,
  '992': 0.0,
  '993': 0.4375,
  '994': 0.59375,
  '996': 0.46875,
  '997': 0.4375,
  '998': 0.03125,
  '999': 0.0,
  '1000': 0.0,
  '1001': 0.15625,
  '1002': 0.3125,
  '1003': 0.4375,
  '1004': 0.03125,
  '1005': 0.21875,
  '1006': 0.4375,
  '1007': 0.21875,
  '1008': 0.03125,
  '1009': 0.125,
  '1010': 0.21875,
  '1011': 0.25,
  '1012': 0.5,
  '1013': 0.375,
  '1014': 0.65625,
  '1015': 0.53125,
  '1016': 0.21875,
  '1017': 0.09375,
  '1018': 0.21875,
  ...}}

In [115]:
mycol = mydb["user_recommendation_data"]
x = mycol.insert_one(recommendation_data)

In [116]:
data=[]
mycol = mydb["user_recommendation_data"]
x=mycol.find_one({},{"_id":0})
data=x['recommendation_data']
recommend_df=pd.Series(data)
recommend_df.head()

1    0.28125
2    0.12500
3    0.31250
4    0.75000
5    0.15625
dtype: float64